<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Namecheap.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Namecheap.Tests.Properties.Settings>
            <setting name="TestBaseDomain" serializeAs="String">
                <value>derp.de</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value>3eb82ec7269149a7bc170b220a2d5971</value>
            </setting>
        </Namecheap.Tests.Properties.Settings>
    </applicationSettings>
</configuration>